.about {
  margin-bottom: 145px;

  &__title {
    margin-top: 0;
    margin-bottom: 21px;
    text-align: center;
    @include h2;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    @include l-txt;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 977px;
    margin-right: auto;
    margin-bottom: 65px;
    margin-left: auto;
  }

  &-item {

    &__text-block {
      max-width: 500px;
      text-align: center;

      @media (min-width: 1024px) {
        text-align: left;
      }
    }

    &__title {
      margin-top: 0;
      margin-bottom: 20px;
      @include h3;
    }

    &__text {
      margin-top: 0;
      margin-bottom: 0;
      @include txt;
    }

    &__img {
      width: 320px;
      height: auto;

      @media (min-width: 1024px) {
        width: auto;
      }
    }
  }
}
