.call {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-top: 50px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    @include h2;
  }
  &__input {
    margin-bottom: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid $black;
    @include txt;

    &--name {

    }

    &--phone {
      margin-bottom: 50px;
    }
  }
}
