.companies {
  margin-bottom: 80px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__item {
    width: 200px;
    height: auto;
  }

  &__link {

  }

  &__img {
    width: 180px;
    height: auto;
  }
}
