.footer {

  &-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__info {

  }

  &__logo {
    width: 175px;
    height: 33px;
  }

  &__address {
    margin-bottom: 10px;
    text-align: left;
    font-style: normal;
  }

  &__mail {
    margin-bottom: 20px;
  }

  &__tel {

  }

  &__list {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {

  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    @include h3;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
    padding-top: 31px;
    padding-bottom: 33px;
    border-top: 1px solid #DADEDF;
  }

  &__copyright {
    margin-top: 0;
    margin-bottom: 0;
  }
}
