.header {

  margin-right: 30px;
  margin-bottom: 75px;
  margin-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: 1140px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: block;
    margin-top: 30px;

    @media(min-width: 1140px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 890px;
      margin-top: 0;
    }
  }

  &__logo {
    width: 237px;
    height: 44px;
    margin-left: calc(50% - 119px);

    @media (min-width: 1140px) {
      margin: 0;
    }
  }

  &__nav {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    @media (min-width: 768px) {
      width: 700px;
    }

    @media(min-width: 1024px) {
      margin-bottom: 0;
    }


    &:hover {
      color: #036FC7;
    }

    &:active {
      color: #004277;
    }
  }

  &__button {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 16px;

    @media (min-width: 1140px) {
      margin-top: 0;
    }
  }
}
