.promo {
  margin-bottom: 150px;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    @include h1;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 345px;
    margin-right: auto;
    margin-bottom: 90px;
    margin-left: auto;
  }

  &__button {

    &--black {

    }

    &--light {

    }
  }

  &__img {
    width: 300px;
    height: auto;

    @media(min-width: 768px) {
      width: 100%;
    }

    &--building {
      margin-bottom: 35px;
    }

    &--trucks {
      margin-bottom: 150px;
    }
  }

  .advantages {

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 325px;
      height: 595px;
      margin-top: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
      padding-left: 0;
      list-style: none;

      @media (min-width: 1024px) {
        flex-direction: row;
        width: auto;
        height: auto;
      }
    }

    &__item {
      width: 325px;
      text-align: center;
    }

    .advantage {

      &__img {
        width: 48px;
        height: 48px;
      }

      &__title {
        margin-top: 20px;
        margin-bottom: 10px;
        @include h3;
      }

      &__text {
        margin-top: 0;
        margin-bottom: 0;
        @include txt;
      }
    }

  }

}
