.slider {

  &__item {
    background-color: #F6F8F9;
    border-radius: 5px;
  }

  &__text {
    max-width: 435px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-left: 50px;
    @include l-txt;
  }

  &-author {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 50px;

    &__img {

    }

    &__text-block {
      display: block;
      margin-left: 10px;

    }

    &__name {
      margin-top: 0;
      margin-bottom: 0;
      @include txt;
    }

    &__work {
      margin-top: 0;
      margin-bottom: 0;
      @include txt;
    }
  }
}
